.footer {
    border-bottom: 5px solid #572EE5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    &__share {
        font-size: 15px;
        line-height: 18px;
        margin: 47px auto 22px;
    }

    &__socialmedia-icons {
        width: 100%;
        display: flex;
        justify-content: center;

        .fab {
            color: #CDD6E0;
            margin: 0 8.5px;
            cursor: pointer;
        }

        .fab:hover {
            color: #572EE5;
        }
    }

    &__copyright {
        font-size: 14px;
        line-height: 20px;
        margin: 46px auto 23px;
    }
}