.main {
    background-color: #F3F5F8;
    width: 100%;
    min-height: 430px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 45px;

    &__trending-title {
        font-size: 20px;
        color: #572EE5;
        line-height: 30px;
        margin: 44px auto 9px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    &__trending-text {
        font-size: 16px;
        color: #000000;
        line-height: 23px;
        margin: 0 auto 32px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        
        span {
            display: block;
        }
    }

    &__trending--container {
        &-slider {
            display: none;
        }

        &-images {
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            //margin-bottom: 5em;
    
            .container-image {
                width: 64.8%;
                height: auto;
                margin-left: 22px;
            }
        }
    }
    
}

@media screen and (min-width: 768px) {

    .main__trending-text {
        font-size: 17px;
    }

}

@media screen and (min-width: 1024px) {
    
    .main {
        padding-bottom: 11.375em;
        margin-top: 0;

        &__trending-title {
            font-size: 25px;
            margin: 67px auto 12px;
        }

        &__trending-text {
            font-size: 18px;
            margin-bottom: 53px;

            span {
                display: inline;
            }
        }

        &__trending--container {
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            &-images {
                
                .container-image {
                    width: 357px;
                    height: 275px;  
                    //margin-left: 29px;
                    margin: 0 14.5px;
                }
            }

            &-slider {
                width: 40px;
                height: 40px;
                margin: auto 8px;
                box-sizing: border-box;
                border: 1px solid #572EE5;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .icon-button-left, .icon-button-right {
                    color: #572ee5;
                }

                &:hover {
                    background-color:#572EE5;

                    .icon-button-left, .icon-button-right {
                        color: white;
                    }
                }
            }
        }
    }

}