.section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
    &__search--img {
        //width: 72.8%;
        max-width: 72.8%;
        height: auto;
        margin: 27px auto 0;
    }

    &__searchbar {
        width: 89.1%;
        height: 50px;
        margin: 0 auto;
        border: 1px solid #572EE5;
        border-radius: 27px;
        text-indent: 16.5%;
        position: relative;

        &-input {
            border: none;
            outline: none;
            padding-top: 15px;
            line-height: 20px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        &-icon {
            position: absolute;
            top: 15px;
            left: 88%;
        }
    }

    &__trending {
        margin: 30px 18.7% 0px;
        font-size: 16px;
        color: #572EE5;
        text-align: center;
        line-height: 25px; 
    }

    &__trending-text {
        @extend .section__trending;
        margin-top: 0;
        font-size: 14px;
    }
}


@media screen and (min-width: 768px) {

    .section__searchbar {
        width: 551px;
        text-indent: 12%; 

        &-icon {
            left: unset;
            right: 6%;
        }
    }

    .section__trending {
        margin-top: 54px;
        font-size: 18px;
    }

    .section__trending-text {
        margin-top: 0;
        margin-bottom: 2em;
        font-size: 16px;
    }

}


@media screen and (min-width: 1024px) {

    .section {
        &__search--img {
            width: 399px;
            height: 190px;
            margin: 20px auto 0;
        }

        &__searchbar {
            text-indent: 9.8%;

            &-icon {
                left: unset;
                right: 3.6%;
            }
        }

        &__trending {
            margin-top: 73px;
        }

        &__trending-text {
            margin: 0 auto 95px;
        }
    }

}