.header__navbar {
  width: 100%;
  height: 95px;
  border-top: 5px solid #572EE5;
}

.header__navbar--logo {
  position: absolute;
  top: 34px;
  left: 5.87%;
  width: 48.8px;
  height: 48.8px;
  font-size: 16px;
  cursor: pointer;
}

.header__navbar--checkbox {
  width: 25px;
  height: 22px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 48.5px;
  left: unset;
  right: 6.4%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.header__navbar--menu-hamburguesa, .header__navbar--close-menu-hamburguesa {
  position: absolute;
  left: unset;
  right: 7%;
  top: 52px;
}

.header__navbar--close-menu-hamburguesa {
  display: none;
}

.header__navbar--checkbox:checked ~ .header__navbar--menu-hamburguesa, .header__navbar--checkbox:checked ~ .header__navbar--close-menu-hamburguesa {
  display: none;
}

.header__navbar--checkbox:checked ~ .header__navbar--close-menu-hamburguesa {
  display: inline-block;
}

.header__navbar--menu-desplegable {
  text-align: center;
  background-color: rgba(87, 46, 229, 0.9);
  position: relative;
  width: 100%;
  height: 0;
  top: 95px;
  z-index: 5;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: hidden;
}

.header__navbar--menu-desplegable .lista {
  margin: 0;
  padding: 14px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navbar--menu-desplegable .lista-item {
  list-style: none;
}

.header__navbar--menu-desplegable .lista-item::after {
  content: "";
  display: block;
  margin: -4px auto;
  width: 10.9%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__navbar--menu-desplegable .lista-item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
  text-decoration: none;
  color: white;
}

.header__navbar--checkbox:checked ~ .header__navbar--menu-desplegable {
  height: 100vh;
}

.header__navbar--create-circle {
  display: none;
}

.header__title {
  margin: 7px 12%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572EE5;
  line-height: 33px;
}

.header__title--gifos {
  text-transform: uppercase;
  color: #5ED7C6;
}

@media screen and (min-width: 768px) {
  .header__navbar--menu-desplegable .lista, .header__navbar--menu-desplegable .lista-item {
    margin: 1em 0 2.4em;
  }
  .header__navbar--menu-desplegable .lista .lista-item a, .header__navbar--menu-desplegable .lista-item .lista-item a {
    font-size: 22px;
  }
  .header__title {
    margin: 20px 15%;
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .header__navbar {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__navbar--logo {
    position: absolute;
    top: 23px;
    left: 8%;
    width: 52px;
    height: 52px;
  }
  .header__navbar--menu-hamburguesa, .header__navbar--close-menu-hamburguesa, .header__navbar--checkbox:checked ~ .header__navbar--close-menu-hamburguesa {
    display: none;
  }
  .header__navbar--menu-desplegable {
    height: auto;
    background-color: transparent;
    position: absolute;
    -webkit-transition: none;
    transition: none;
    overflow: visible;
    top: 5px;
    width: 350px;
    left: unset;
    right: 16%;
  }
  .header__navbar--menu-desplegable .lista {
    margin: 0;
    padding: 10px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
  }
  .header__navbar--menu-desplegable .lista .lista-item a {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    color: #572EE5;
  }
  .header__navbar--menu-desplegable .lista .lista-item a:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .header__navbar--menu-desplegable .lista .lista-item a:active {
    color: #9CAFC3;
    border-bottom: none;
  }
  .header__navbar--create-circle {
    width: 50px;
    height: 50px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    position: absolute;
    left: unset;
    right: 7%;
    top: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .header__navbar--create-circle .icon-button-crear-gifo {
    color: #572EE5;
  }
  .header__navbar--create-circle:hover {
    background-color: #572EE5;
  }
  .header__navbar--create-circle:hover .icon-button-crear-gifo {
    color: white;
  }
  .header__navbar--create-circle:active {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  .header__title {
    margin: 65px 23% 10px;
    font-size: 33px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .header__navbar--logo {
    width: 59.1px;
    height: 59.1px;
    left: 10.8%;
  }
  .header__navbar--menu-desplegable {
    width: 373.5px;
    right: 18.7%;
  }
  .header__navbar--create-circle {
    width: 54px;
    height: 54px;
    right: 10.8%;
  }
  .header__title {
    margin: 76px 29% 0;
    font-size: 35px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.section__search--img {
  max-width: 72.8%;
  height: auto;
  margin: 27px auto 0;
}

.section__searchbar {
  width: 89.1%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #572EE5;
  border-radius: 27px;
  position: relative;
}

.section__searchbar-input {
  position: absolute;
  width: 98%;
  height: 90%;
  border-radius: 27px;
  border: none;
  outline: none;
  padding-top: 2px;
  text-indent: 16%;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.section__searchbar .icon-icon-search {
  color: #572EE5;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 88%;
  cursor: pointer;
}

.section__trending, .section__trending-text {
  margin: 30px 18.7% 0px;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.section__trending-text {
  margin-top: 0;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .section__searchbar {
    width: 551px;
  }
  .section__searchbar-input {
    text-indent: 12%;
  }
  .section__searchbar .icon-icon-search {
    left: unset;
    right: 6%;
  }
  .section__trending, .section__trending-text {
    margin-top: 54px;
    font-size: 18px;
  }
  .section__trending-text {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .section__search--img {
    width: 399px;
    height: 190px;
    margin: 20px auto 0;
  }
  .section__searchbar-input {
    text-indent: 9.8%;
  }
  .section__searchbar .icon-icon-search {
    left: unset;
    right: 3.6%;
  }
  .section__trending, .section__trending-text {
    margin-top: 73px;
  }
  .section__trending-text {
    margin: 0 auto 95px;
  }
}

.main {
  background-color: #F3F5F8;
  width: 100%;
  min-height: 430px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 45px;
}

.main__trending-title {
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
  margin: 44px auto 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.main__trending-text {
  font-size: 16px;
  color: #000000;
  line-height: 23px;
  margin: 0 auto 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main__trending-text span {
  display: block;
}

.main__trending--container-slider {
  display: none;
}

.main__trending--container-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
}

.main__trending--container-images .image-container {
  width: 64.8%;
  height: auto;
  margin-left: 22px;
}

.main__trending--container-images .image-container .trending-image {
  width: 243px;
  height: 187px;
}

.main__trending--container-images .image-container .trending-image-hover {
  display: none;
}

@media screen and (min-width: 768px) {
  .main__trending-text {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding-bottom: 11.375em;
    margin-top: 0;
  }
  .main__trending-title {
    font-size: 25px;
    margin: 67px auto 12px;
  }
  .main__trending-text {
    font-size: 18px;
    margin-bottom: 53px;
  }
  .main__trending-text span {
    display: inline;
  }
  .main__trending--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__trending--container-images .image-container {
    position: relative;
    margin: 0 14.5px;
  }
  .main__trending--container-images .image-container .trending-image {
    width: 357px;
    height: 275px;
  }
  .main__trending--container-images .image-container .trending-image-hover {
    position: absolute;
    width: 100%;
    height: 275px;
    top: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main__trending--container-images .image-container .trending-image-hover .hover-container {
    display: none;
  }
  .main__trending--container-images .image-container .trending-image-hover:hover {
    background-color: rgba(74, 30, 227, 0.6);
  }
  .main__trending--container-images .image-container .trending-image-hover:hover .hover-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 2em;
    height: 2em;
    border-radius: 6px;
    margin-top: 0.625em;
    margin-right: 0.625em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .main__trending--container-images .image-container .trending-image-hover:hover .hover-container .icon-hover {
    color: #572EE5;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .main__trending--container-images .image-container .trending-image-hover:hover .hover-container:hover {
    background-color: white;
    opacity: 1;
  }
  .main__trending--container-slider {
    width: 40px;
    height: 40px;
    margin: auto 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .main__trending--container-slider .icon-button-left, .main__trending--container-slider .icon-button-right {
    color: #572ee5;
  }
  .main__trending--container-slider:hover {
    background-color: #572EE5;
  }
  .main__trending--container-slider:hover .icon-button-left, .main__trending--container-slider:hover .icon-button-right {
    color: white;
  }
}

.footer {
  border-bottom: 5px solid #572EE5;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.footer__share {
  font-size: 15px;
  line-height: 18px;
  margin: 47px auto 22px;
}

.footer__socialmedia-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socialmedia-icons .fab {
  color: #CDD6E0;
  margin: 0 8.5px;
  cursor: pointer;
}

.footer__socialmedia-icons .fab:hover {
  color: #572EE5;
}

.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  margin: 46px auto 23px;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 116px;
  }
  .footer__share {
    margin-right: 17px;
    padding-top: 2px;
  }
  .footer__socialmedia-icons {
    width: auto;
  }
  .footer__socialmedia-icons .fab {
    margin-top: 47.4px;
    padding-top: 2px;
  }
  .footer__copyright {
    margin-left: 51%;
    padding-top: 2px;
  }
}

.favoritos, .mis-gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 0 21px;
}

.favoritos__logo, .mis-gifos__logo {
  margin: 5px auto 7px;
}

.favoritos__title, .mis-gifos__title {
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
  margin: 0 auto 46px;
}

.favoritos__title span, .mis-gifos__title span {
  text-transform: uppercase;
}

.favoritos__images--container, .mis-gifos__images--container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(156px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  grid-gap: 21px;
}

.favoritos__images--container .image-container, .mis-gifos__images--container .image-container {
  position: relative;
}

.favoritos__images--container .image-container .favoritos-image, .favoritos__images--container .image-container .mis-gifos-image, .mis-gifos__images--container .image-container .favoritos-image, .mis-gifos__images--container .image-container .mis-gifos-image {
  width: 100%;
  cursor: pointer;
}

.favoritos__images--container .image-container .favoritos-image-hover, .favoritos__images--container .image-container .mis-gifos-image-hover, .mis-gifos__images--container .image-container .favoritos-image-hover, .mis-gifos__images--container .image-container .mis-gifos-image-hover {
  background-color: transparent;
  display: none;
}

.favoritos__view-more, .mis-gifos__view-more {
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  margin: 78px auto 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.favoritos__view-more-title, .mis-gifos__view-more-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #572EE5;
}

.favoritos__view-more:hover, .mis-gifos__view-more:hover {
  background-color: #572EE5;
}

.favoritos__view-more:hover .favoritos__view-more-title, .favoritos__view-more:hover .mis-gifos__view-more-title, .mis-gifos__view-more:hover .favoritos__view-more-title, .mis-gifos__view-more:hover .mis-gifos__view-more-title {
  color: white;
}

@media screen and (min-width: 768px) {
  .favoritos, .mis-gifos {
    padding: 0 50px;
  }
  .favoritos__logo, .mis-gifos__logo {
    margin-top: 1em;
  }
  .favoritos__images--container, .mis-gifos__images--container {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .favoritos, .mis-gifos {
    padding: 0 10.8%;
  }
  .favoritos__title, .mis-gifos__title {
    font-size: 25px;
    margin-bottom: 1.44em;
  }
  .favoritos__images--container, .mis-gifos__images--container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .favoritos__images--container .image-container .favoritos-image-hover, .favoritos__images--container .image-container .mis-gifos-image-hover, .mis-gifos__images--container .image-container .favoritos-image-hover, .mis-gifos__images--container .image-container .mis-gifos-image-hover {
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .favoritos__images--container .image-container .favoritos-image-hover .hover-container, .favoritos__images--container .image-container .mis-gifos-image-hover .hover-container, .mis-gifos__images--container .image-container .favoritos-image-hover .hover-container, .mis-gifos__images--container .image-container .mis-gifos-image-hover .hover-container {
    display: none;
  }
  .favoritos__images--container .image-container .favoritos-image-hover:hover, .favoritos__images--container .image-container .mis-gifos-image-hover:hover, .mis-gifos__images--container .image-container .favoritos-image-hover:hover, .mis-gifos__images--container .image-container .mis-gifos-image-hover:hover {
    background-color: rgba(74, 30, 227, 0.6);
  }
  .favoritos__images--container .image-container .favoritos-image-hover:hover .hover-container, .favoritos__images--container .image-container .mis-gifos-image-hover:hover .hover-container, .mis-gifos__images--container .image-container .favoritos-image-hover:hover .hover-container, .mis-gifos__images--container .image-container .mis-gifos-image-hover:hover .hover-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 2em;
    height: 2em;
    border-radius: 6px;
    margin-top: 0.625em;
    margin-right: 0.625em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .favoritos__images--container .image-container .favoritos-image-hover:hover .hover-container .icon-hover, .favoritos__images--container .image-container .mis-gifos-image-hover:hover .hover-container .icon-hover, .mis-gifos__images--container .image-container .favoritos-image-hover:hover .hover-container .icon-hover, .mis-gifos__images--container .image-container .mis-gifos-image-hover:hover .hover-container .icon-hover {
    color: #572EE5;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .favoritos__images--container .image-container .favoritos-image-hover:hover .hover-container:hover, .favoritos__images--container .image-container .mis-gifos-image-hover:hover .hover-container:hover, .mis-gifos__images--container .image-container .favoritos-image-hover:hover .hover-container:hover, .mis-gifos__images--container .image-container .mis-gifos-image-hover:hover .hover-container:hover {
    background-color: white;
    opacity: 1;
  }
  .favoritos__view-more, .mis-gifos__view-more {
    margin-bottom: 79px;
  }
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */